.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    background-color:white;
    padding: 20px;
  }
  
  .toggle-button {
    display: none; 
    cursor: pointer;
    color: white;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu li {
    margin-left: 20px;
    text-align: center;
  }
  
  .menu li a {
    color: black;
    text-decoration: none; 
    font-weight: 400;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  input
  {
    text-align: center;
    width: 300px;
    margin-right: 10px;
    
  }
  
  @media (max-width: 768px) {
    .toggle-button {
      display: block; 
      font-size: 1.5rem;
      margin-right: 20px;
    }
  
    .menu {
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      padding: 20px;
      background-color: black;
      display: none;
    }
  
    .menu.open {
      display: flex;
    }
  
    .menu li {
      margin: 10px 0;
    }
  
    .menu li a {
      color: white; 
      font-weight: 400;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      line-height: 20px;
    }
  }
  